body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

#navbar {
  margin: 0;
  height: 44px;
  background-color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
}

.navbar-nav {
  margin: 0 auto;
  width: 70%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar-nav li a {
  color: rgb(214, 214, 214);
  text-decoration: none;
  outline: none; 
}


.navbar-nav svg {
  width: 16px;
  fill: rgb(214, 214, 214);
  transition: ease .2s;
}

.navbar-nav svg:hover {
  fill: #FFFFFF;
}

/*
<!DOCTYPE html>
<html>
  <head>
    <title>Apple</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav id="navbar">
        <ul class="navbar-nav">
          <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.83 113.24"><title>Asset 14</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><path class="cls-1" d="M62,111.36c19.25,9.46,36.23-22.16,37.75-47.49.62-10.33-2.63-22.12-9.74-29.65-6.62-7-17.34-12.73-33.17-5.94a19.17,19.17,0,0,1-5.78,1.44,27,27,0,0,1-13.23-2.14C25,22,7.47,25.7,1.27,48.22-5.28,72,14.48,123.41,38,111.47,38,111.47,49.51,104.91,62,111.36Z"/><path class="cls-1" d="M46.93,26.7S45.71,5.21,68.31,0C68.31,0,69.53,21.49,46.93,26.7Z"/></g></g></svg></li>
          <li><a href="">Mac</a></li>
          <li><a href="">iPad</a></li>
          <li><a href="">iPhone</a></li>
          <li><a href="">Watch</a></li>
          <li><a href="">TV</a></li>
          <li><a href="">Music</a></li>
          <li><a href="">Support</a></li>
          <li></li>
          <li></li>
        </ul>
      </nav>
    </header>
    <main></main>
    <footer>
    </footer>
  </body>
</html>

*/