/* covid-19 shop-online */

.covid-19-pre {
  padding-top: 44px;
}

.covid-19,
.shop-online {
  width: 100%;
  height: 44px;
  background-color: rgb(1, 113, 227);
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}

.shop-online {
  background-color: white;
  color: black;
}

.covid-19 span a,
.shop-online span a {
  color: white;
  text-decoration: none;
}

.shop-online span a {
  color: #0166cc;
}

.covid-19 span a:hover,
.shop-online span a:hover {
  text-decoration: underline;
/*  Hero section */
.hero {
  text-align: center;
} background-image: url("../img/og__eop0rb3mevma_overview.png");
  background-repeat: no-repeat;
  background-size: 1156px 584px;
}
