/* iphone-model-section */
@font-face {
  src: url(../ponds/FontsFree-Net-SFProDisplay-Bold.ttf);
  font-family: sfb;
}

.iphone-model-section {
  height: 100px;
  width: 100%;
  background-color: #f3f3f4;
  padding: 8px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.iphone-model-section ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.iphone-model-section ul li {
  height: 80px;
  padding: 0 20px;
}

.iphone-model-section ul a {
  display: block;
  text-decoration: none;
  color: #1d1d1f;
  font-size: 12px;
  font-family: sf;
  height: 77px;
  margin: 3px 0 0 0;
  transition: ease 0.2s;
}

.iphone-model-section ul a:hover {
  color: #2679cd;
}

.iphone-model-section .iphone-model-new {
  font-size: 10px;
  color: #BF4800;
  display: flex;
  justify-content: center;
  }

.iphone-model-section ul a figure {
  height: 54px;
  margin: 0 0 7px 0;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
}

.iphone-model-1 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/chapternav/iphone_11_pro_light__or0shxhwebm2_large.svg");
}
.iphone-model-2 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/chapternav/iphone_11_light__emvkmgq9x7au_large.svg");
}
.iphone-model-3 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/chapternav/iphone_se_light__cax806z0pegi_large.svg");
}
.iphone-model-4 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/chapternav/iphone_xr_light__bx2uuabqiz36_large.svg");
}
.iphone-model-5 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/chapternav/iphone_comp_light__dpxolluh0hua_large.svg");
}
.iphone-model-6 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/chapternav/iphone_airpods_light__erk6qz26oeqa_large.svg");
}
.iphone-model-7 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/chapternav/iphone_acc_light__bmhlbo8r15aq_large.svg");
}
.iphone-model-8 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/chapternav/iphone_apple_card_light__ep42t1y6u76u_large.svg");
}
.iphone-model-9 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/chapternav/iphone_ios_light__jjio8uqmjxei_large.svg");
}

/* Apple Card Monthly */

.Apple-Card-Monthly {
  height: 34px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.Apple-Card-Monthly p {
  font-size: 12px;
  color: #333333;
}

.Apple-Card-Monthly p a {
  text-decoration: none;
  color: #0166cc;
}

.Apple-Card-Monthly p a:hover {
  text-decoration: underline;
}

/* iphone-product-section */

.iphone-product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: sf;
  letter-spacing: -0.14399999380111694px;
}

.iphone-product-section-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 980px;
  height: 563px;
  padding: 150px 0 0 0;
}

.iphone-product-section-div div {
  width: 490px;
  color: #1D1D1F;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.iphone-product-section-div figure {
  height: 563px;
  width: 490px;
  margin: 0;
  padding: 0;
  background-size: 490px 563px;
  background-repeat: no-repeat;
}

.iphone-product-section-div div span {
  font-size: 17px;
  color: #BF4800;
}

.iphone-product-section-div div h2 {
  font-size: 25.5px;
  height: 26px;
  margin: 16px 0 9px 0;
  letter-spacing: -0.14399999380111694px;
}

.iphone-product-section-div div .iphone-product-quote {
  font-size: 48px;
  margin: 6px 0 0 0;
  line-height: 52px;
}

.iphone-product-section-div div .iphone-product-price {
  font-size: 28px;
  margin: 14px 0 0 0;
}

.iphone-product-section-div div .iphone-product-trade-in {
  font-size: 17px;
  margin: 14px 0 0 0;
}

.iphone-product-section-div div .phone-product-buy-button {
  font-size: 17px;
  width: 29.22px;
  margin: 24px 0 0 0;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 18px;
  background-color: #0171E3;
  color: #F5F9FD;
  transition: ease .2sz;
}

.iphone-product-section-div div .phone-product-buy-button:hover {
  background-color: #0a79e8;
}

.iphone-product-section-div p a {
  font-size: 17px;
  text-decoration: none;
  color: #0166CC;
}
.iPhone-se-logo {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/overview/hero/hero_iphone_se_logo__k9mmofrwueyy_large_2x.jpg");
  background-repeat: no-repeat;
  background-size: 110px 26px;
}

.iphone-product-section-div p span {
  color: #0166CC;
}

.iphone-product-section-div p a:hover {
  text-decoration: underline;
}

.iphone-product-2-sub-section {
  width: 410px !important;
  padding-left: 80px;
}

.iphone-product-img-1 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/overview/hero/hero_iphone_se__barrz3dlvxea_large_2x.jpg");
}

.iphone-product-img-2 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/overview/hero/hero_iphone_11__bsnxu2gpf98i_large_2x.jpg");
}

.iphone-product-img-3 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/overview/hero/hero_iphone_11_pro__d2lf9zrtcv8m_large_2x.jpg");
}

/* iphone-comparison-section */

.iphone-comparison-section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 53px 0 122px 0;
  margin: 0 0 30px 0;
  text-align: center;
  font-family: sf;
  letter-spacing: -0.14399999380111694px;
}

.iphone-comparison-section-div {
  width: 980px;
  padding: 90px 0 0 0;
}

.iphone-comparison-collections {
  display: flex;
  flex-direction: row;
}

.iphone-comparison-section-div h1 {
  font-size: 48px;
}

.iphone-comparison-section-div div p {
   font-size: 24px;
   color: #0166CC;
   margin: 26px 0 52px 0;
}

.iphone-comparison-section-div div p a {
   font-size: 24px;
   color: #0166CC;
   text-decoration: none;
}

.iphone-comparison-section-div div p a:hover {
  text-decoration: underline;
}

.iphone-comparison-collections div {
  width: 205px;
  height: 657px;
  padding: 0 20px;
}

.iphone-comparison-collections figure {
  height: 251px;
  width: 190px;
  background-repeat: no-repeat;
}

.iphone-comparison-collections-img-1 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/overview/compare/compare_iphone_11_pro__fvqwhr4dkhiu_large_2x.jpg");
  background-size: 190px 251px;
}

.iphone-comparison-collections-img-2 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/overview/compare/compare_iphone_11__f0r1z5etd722_large_2x.jpg");
  background-size: 155px 251px;
}

.iphone-comparison-collections-img-3 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/overview/compare/compare_iphone_se__buv6h7jbk5n6_large_2x.jpg");
  background-size: 135px 251px;
}

.iphone-comparison-collections-img-4 {
  background-image: url("https://www.apple.com/v/iphone/home/am/images/overview/compare/compare_iphone_xr__dexbg7jerlqq_large_2x.jpg");
  background-size: 157px 251px;
}