@font-face {
  src: url(../ponds/FontsFree-Net-SFProText-Regular.ttf);
  font-family: sf;
}


body {
  margin: 0;
  font-family: sf;
  font-size: 14px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: saturate(1.8) blur(20px);
  position: fixed;
  display: block;
  width: 100%;
}

.navbar div {
  height: 44px;
  max-width: 980px;
  padding: 0 22px;
  margin: 0 auto;
}

.navbar div ul {
  display: flex;
  height: 44px;
  align-items: center;
  font-size: 14px;  
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar div ul a {
  color: #CECECE;
  fill: #CECECE;
  text-decoration: none;
  padding: 0 10px;
  transition: ease 0.2s;
}

.navbar div ul a:hover {
  color: white;
  fill: white;
}

.navbar div ul .search-icon svg {
  width: 18px;
}

.navbar div ul .shop-icon svg {
  width: 17px;
}

.navbar div ul .apple-logo svg {
  width: 16px;
}
