@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

body{
    background-color: black;
}

nav{
    width: 100%;
    background-color: #333;
    overflow: auto;
    border: 1px solid #333;
    border-radius: 15px;
}

ul{
    padding: 0;
    margin: 0 0 0 60px;
    list-style: none;
}

li{
    float: left;

}

nav a{
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    color: white;
    transition: background-color 1s;
    font-family: 'Chilanka', cursive;
}

nav a:hover{
    background-color: black;
}
.logo img{
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
    width: 3%;
}