body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

#navbar {
  height: 44px;
  background-color: #1d1d1d;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
}

.navbar-nav li {
  display: inline-block;
}

.navbar-nav a {
  color: white;
  text-decoration: none;
}
